@use "../../base/_base" as *;
@use "sass:math";

.p-service {
  &__block {
    &:nth-child(n + 2) {
      margin-top: 80px;
      @include media() {
        margin-top: 52px;
      }
    }
  }
  &__block-title {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    line-height: 17px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 52px;
    @include media() {
      font-size: 20px;
      line-height: 15px;
      padding-bottom: 22px;
      margin-bottom: 40px;
    }
    &::after {
      content: '';
      width: 90px;
      height: 2px;
      background: $primary;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      @include media() {
        width: 70px;
      }
    }
  }
  &__txt-lg {
    text-align: center;
    font-size: 22px;
    line-height: math.div(34, 22);
    font-weight: 400;
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    margin-bottom: 40px;
    &.-facility {
      margin-bottom: 60px;
      @include media() {
        margin-bottom: 40px;
      }
    }
    @include media() {
      font-size: 18px;
      line-height: math.div(28, 18);
      margin-bottom: 24px;
    }
  }
  &__txt {
    font-size: 18px;
    font-weight: 400;
    line-height: math.div(34, 18);
    letter-spacing: 0.3em;
    margin-right: -0.3em;
    margin-bottom: 60px;
    text-align: center;
    &.-left {
      text-align: left;
    }
    @include media() {
      font-size: 16px;
      line-height: 2;
      margin-bottom: 40px;
      text-align: left;
    }
  }
  &__img {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    aspect-ratio: 580 / 370;
    &.-sm {
      width: calc(math.div(100%, 3) - 20px);
      @include media() {
        width: 100%;
      }
    }
    @include media() {
      width: 100%;
    }
    &-box {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 40px;
      margin: 0 auto;
      @include media() {
        max-width: 580px;
      }
      &.-plan {
        gap: 20px 30px;
      }
    }
  }
  &__table {
    max-width: 900px;
    margin: 60px auto 0;
    @include media() {
      margin-top: 40px;
    }
    &-row {
      display: flex;
      border: 1px solid $border;
      &:not(:last-child) {
        border-bottom: none;
      }
      @include media() {
        flex-direction: column;
        padding: 15px 20px;
      }
    }
    &-title,
    &-text {
      font-size: 16px;
      line-height: math.div(34, 16);
      font-weight: 400;
      letter-spacing: 0.3em;
      padding: 10px 20px;
      @include media() {
        padding: 0;
        font-size: 14px;
        line-height: math.div(24, 14);
      }
    }
    &-title {
      flex: 0 0 auto;
      width: 230px;
      border-right: 1px solid $border;
      @include media() {
        border: none;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &-text {
      ul {
        li {
          padding-left: 1.3em;
          position: relative;
          &::before {
            content: '・';
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
  &__btn {
    border: 1px solid $primary;
    color: $primary;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 380px;
    padding-left: 0.6em;
    padding-right: 0.3em;
    position: relative;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 0.3em;
    font-weight: 400;
    @include media() {
      min-width: 0;
      width: 100%;
      font-size: 16px;
    }
    svg {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      @include media() {
        right: 20px;
      }
    }
    &-box {
      text-align: center;
      margin-top: 60px;
      @include media() {
        margin-top: 28px;
      }
    }
  }
  &__section {
    margin-top: 60px;
    @include media() {
      margin-top: 52px;
    }
  }
  &__detail {
    margin-top: 28px;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.3em;
    @include media() {
      font-size: 14px;
      line-height: math.div(24, 14);
    }
    &-caution {
      font-size: 12px;
      line-height: math.div(32, 12);
      margin-top: 32px;
      text-align: center;
      @include media() {
        text-align: left;
        line-height: math.div(24, 12);
        margin-top: 20px;
      }
    }
  }
}