@use "../base/_base" as *;
@use "sass:math";

.breadcrumbs {
  margin-bottom: 100px;
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: 400;
  overflow: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  margin-right: -20px;
  margin-left: -20px;
  padding-left: 20px;
  @include media() {
    margin-bottom: 47px;
    font-size: 12px;
  }
  a {
    text-decoration: underline;
    color: $font;
  }
  .current-item {
    color: $primary;
    padding-right: 20px;
  }
}
