@use "../base/_base" as *;
@use "sass:math";

.container {
  padding-top: 75px;
  padding-bottom: 200px;
  @include media() {
    padding-top: 27px;
    padding-bottom: 52px;
  }
  &__inner {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}