@use "../base/_base" as *;
@use "sass:math";

.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: 8px;
  .page,
  .current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
  }
  .page {
    color: #b5b5b5;
    transition: 0.3s ease-out;
    transition-property: background;
    @include hoverAnime {
      background: #FAF8F0;
    }
  }
  .current {
    color: #fff;
    background: $font;
  }
}
